@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Cormorant+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Cormorant+SC:wght@300&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Cormorant+SC:wght@300&family=Oswald:wght@300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant SC";
}

.name {
  color: rgb(245, 255, 250);
  float: left;
  bottom: 50px;
  font-size: 50px;
  margin-top: 0px;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 10px;
}

header {
  background: rgb(49, 49, 65);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 35px;
}

nav li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 40px;
}

.center {
  margin-right: -100px;
}
a.headerinfo {
  color: rgb(245, 255, 250);
}

a:hover {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* About me */

.dylan {
  margin-top: 60px;
  margin-left: 50px;
  width: 1125px;
  height: 750px;
  z-index: 0;
  position: fixed;
}

.fade-in-image {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bio {
  color: black;
  font-size: 20px;
  margin: 100px 100px 500px 100px;
  font-family: "Arima";
  background: lavender;
  width: 750px;
  height: 175px;
  padding: 60px;
  border-radius: 20px;
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 1;
}

.fade-in-bio {
  animation: fadeIn 1s;
}

.contact {
  float: left;
  text-align: center;
  font-size: 30px;
  width: 700px;
  margin-top: 125px;
  margin-left: 200px;
  animation: fadeIn 2s;
}

form {
  font-size: 20px;
  float: right;
  margin-right: 400px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  font-family: "Oswald";
  animation: fadeIn 2s;
}

h2 {
  font-size: 35px;
}

.wrapper-gallery {
  margin: 0 3vw;
  animation: fadeIn 2s;
}

body {
  min-height: 100vh;
}

/* Footer Style */
footer {
  color: rgb(245, 255, 250);
  float: left;
  font-size: 20px;
  margin-top: 0px;
  font-family: "Cormorant SC";
  background: rgb(49, 49, 65);
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  bottom: 0;
  position: sticky;
  top: 100%;
}

footer li {
  display: inline-block;
  padding-left: 400px;
  align-items: center;
  margin-top: 10px;
}

.footerinfo {
  color: rgb(245, 255, 250);
}

/* Blog Page*/

.blog {
  margin-top: 20px;
  text-align: center;
  font-family: "Oswald";
  font-size: 20px;
  animation: fadeIn 2s;
}

/* Blog Entry 1 */

.blog1 {
  text-align: left;
  margin-top: 100px;
  margin-left: 400px;
  font-size: 16px;
  font-family: "Roboto";
  animation: fadeIn 2s;
}

h3 {
  font-size: 100px;
  font-family: "Roboto";
}
